<template>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Mapx by <strong><a href="javascript:;">Giancarlos Cercado Cedeño</a></strong> &copy;
                </p>
                <p>
                    <a class="icon" href="https://github.com/gianmaster">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'footer'
    }
</script>
