<template>
    <header class="nav">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="/">
                    <h1 style="font-size: 1.8em;">MAP<strong>X</strong></h1>
                </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
                <!--
                <a href="/nada" class="nav-item">
                    Lista Georeferencias
                </a>
                -->
                <template v-if="userStore.authUser === null">
                    <router-link class="nav-item" :to="{name: 'login-page'}">
                        Login
                    </router-link>
                  <span class="nav-item">
                    <router-link class="button is-info is-outlined is-inverted" :to="{name: 'register-page'}">
                        <span>Registrarse</span>
                    </router-link>
                  </span>
                </template>
                <template v-else>
                    <router-link class="nav-item" :to="{name: 'account-page'}">
                        <i class="fa fa-cog"></i> &nbsp; Ajustes de Perfil
                    </router-link>
                    <span class="nav-item">
                        <button @click.prevent="logout" class="button is-info is-outlined is-inverted" type="button">Cerrar Sesión</button>
                    </span>
                </template>

            </div>
        </div>
    </header>
</template>

<script type="text/babel">

    import { admin } from '../firebaseDB';
    import { mapState } from 'vuex';

    export default {
        name: 'header',
        computed: {
            ...mapState({
                userStore: state => state.userStore
            })
        },
        methods: {
            logout (){
                let vm = this;
                admin.signOut().then(resp => {
                    console.log('Sesion terminada!');
                    vm.$store.dispatch('clearAuthUser');
                    localStorage.removeItem('user');
                    vm.$router.push({name: 'index'});
                }, err => {
                    console.error(err);
                });
            }
        }
    }

</script>