<template>
    <div>
        <section class="hero is-primary is-fullheight imagen-bg">
            <!-- Hero header: will stick at the top -->
            <div class="hero-head">
                <header-app></header-app>
            </div>

            <!-- Hero content: will be in the middle, se recomienda un div con la clase hero-body al iniciar el contenedor -->
            <router-view></router-view>


            <!-- Hero footer: will stick at the bottom -->
            <div class="hero-foot" v-if="!userStore.authUser">
                <div class="container">
                    <h2 class="has-text-left">Empieza a usar <strong>Mapx</strong> <router-link :to="{name:'register-page'}">ahora</router-link>.</h2>
                </div>
            </div>
        </section>
        <footer-app></footer-app>
    </div>

</template>

<script type="text/babel">
    import Header from './header.vue';
    import Footer from './footer.vue';
    import { mapState } from 'vuex';

    export default {
        name: 'layout',
        components: { 'header-app': Header, footerApp: Footer },
        computed: {
            ...mapState({
                userStore: state => state.userStore
            })
        },
        created (){
            const user = localStorage.getItem('user');
            if(user){
                //this.authUser = JSON.parse(user);
                this.$store.dispatch('setAuthUser', JSON.parse(user));
            }
        }
    }
</script>

