<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>

                    <div class="panel-body">
                        I'm an example component!
                    </div>
                    <ul>
                        <li class="item">Hola</li>
                        <li class="item">Que</li>
                        <li class="item">Hace</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component ready.')
        }
    }
</script>

<style type="sass">
    ul{
        box-sizing: content-box;
        li{
            backgroud-color: red;
            color: white;
        }
    }
</style>
