<template>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="has-text-centered">
                        <h2 class="title has-text-centered">404</h2>
                        <h1 class="subtitle has-text-centered">Página no encontrada</h1>
                    </p>
                    <p class="has-text-centered">
                        ir a <router-link :to="{name: 'index'}">Home</router-link>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
    export default {

    }
</script>