<template>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <router-link class="button is-primary is-outlined is-inverted" :to="{name: 'userhome'}"><i class="fa fa-caret-left"></i>&nbsp;Volver</router-link>
                </div>
            </div>
            <div class="columns">

                <div class="column is-8 is-offset-2 content-box">
                    <form @submit.prevent="updateDisplayName">
                        <label class="subtitle">Nombre Usuario</label>
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input v-model="newDisplayName" class="input" type="text" minlength="7" required>
                            </p>
                            <p class="control">
                                <button :class="[{button: true},{'is-info':true},{'is-loading':loadingUpdate}]" type="submit">Actualizar</button>
                            </p>
                        </div>
                    </form>
                    <hr>
                    <form @submit.prevent="updatePassword">
                        <label class="subtitle">Clave</label>
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input class="input" v-model="password" type="password" minlength="7" placeholder="Ingrese su nueva clave" required>
                            </p>
                            <p class="control">
                                <button :class="[{button: true},{'is-warning':true},{'is-loading':loadingPass}]" type="submit">Cambiar clave</button>
                            </p>
                        </div>
                    </form>
                    <hr>
                    <div class="danger-zone">
                        <h1 class="title has-text-centered">ZONA DE PELIGRO</h1>
                        <h2 class="subtitle has-text-centered">Eliminación de cuenta de usuario</h2>
                        <form @submit.prevent="deleteUser">
                            <div class="control is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="email" :value="userStore.authUser.email" readonly disabled>
                                </p>
                                <p class="control">
                                    <button :class="[{button: true},{'is-danger':true},{'is-loading':loadingDelete}]" type="submit">Eliminar</button>
                                </p>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import { admin } from '../firebaseDB';
    import { mapState } from 'vuex';

    export default {
        name: 'account-page',
        computed: {
            ...mapState({
                userStore: state => state.userStore
            })
        },
        mounted (){
            this.newDisplayName = this.userStore.authUser.displayName;
        },
        data (){
            return {
                password: '',
                newDisplayName: '',
                loadingUpdate: false,
                loadingPass: false,
                loadingDelete: false,
            }
        },
        methods: {
            updateDisplayName(){
                let vm = this;
                vm.loadingUpdate = true;
                const user = admin.currentUser;
                user.updateProfile({
                    displayName: vm.newDisplayName
                }).then(function(currentUser) {
                    vm.loadingUpdate = false;
                    toastr.success('Se actualizó su nombre de usuario correctamente!');
                }, function(error) {
                    vm.loadingUpdate = false;
                    toastr.error('No se puede actualizar su perfil, FIREBASE ERROR [RESTART AUTH]');
                });
            },
            updatePassword(){
                let vm = this;
                vm.loadingPass = true;
                const user = admin.currentUser;
                user.updatePassword(this.password).then(function(){
                    vm.loadingPass = false;
                    vm.password = '';
                    toastr.success('Se actualizó la clave correctamente!');
                }, function(err){
                    vm.loadingPass = false;
                    toastr.error('No se puede actualizar su contraseña, FIREBASE ERROR [RESTART AUTH]');
                    console.log(err);
                });
            },
            deleteUser(){
                if(confirm('¿Estás seguro de eliminar tu cuenta de usuario?')){
                    let vm = this;
                    vm.loadingDelete = true;
                    const user = admin.currentUser;
                    user.delete().then(function() {

                        vm.loadingDelete = false;
                        toastr.success('Se eliminó su cuenta de usuario!');
                        setTimeout(()=> {toastr.success('Gracias por usar esta aplicación');}, 2000);
                        setTimeout(()=> {
                            vm.$store.dispatch('clearAuthUser');
                            localStorage.removeItem('user');
                            vm.$router.push({name: 'index'});
                        }, 5000);

                    }, function(err) {
                        vm.loadingDelete = false;
                        toastr.error('No se pudo eliminar su cuenta, FIREBASE ERROR [RESTART AUTH]');
                    });
                }
            },
            deleteAccount(){

                let vm = this;
                const user = admin.currentUser;
                const credential = admin.creadential;//admin.EmailAuthProvider.credential(user.email, this.password);

                //const credential = {email: this.userStore.authUser.email, password: this.password};
                /*
                user.reauthenticate(creadential).then(function(currentUser) {
                    currentUser.delete().then(function() {

                        toastr.success('Se eliminó su cuenta de usuario!');
                        setTimeout(()=> {toastr.success('Gracias por usar esta aplicación');}, 1000);
                        setTimeout(()=> {vm.$router.push({name: 'userhome'});}, 1500);

                    }, function(err) {
                        toastr.error('No se pudo eliminar su cuenta, FIREBASE ERROR!');
                    });

                }, function(error) {
                    toastr.error('Contraseña incorrecta!');
                });
*/
            },
            userAction(title, action/* metodo a ejecutar */){
                let vm = this;
                $.confirm({
                    title: title,
                    columnClass: 'column is-4 is-offset-4',
                    content: `
                        <form>
                        <label for="my-input-pass">Ingresa tu clave actual para confirmar la acción</label>
                        <p class="control">
                                <input id="my-input-pass" class="input" type="password" minlength="5" placeholder="" required>
                            </p>
                        </form>
                    `,
                    buttons: {
                        formSubmit: {
                            text: 'Aceptar',
                            btnClass: 'button',
                            action: function () {
                                var pass = this.$content.find('#my-input-pass').val();
                                if(!pass){
                                    $.alert('provide a valid name');
                                    return false;
                                }
                                vm.password = pass;
                                vm[action]();
                            }
                        },
                        cancel: function () {
                            //close
                        },
                    },
                    onContentReady: function () {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            }
        }
    }
</script>
<style type="text/css">
    .content-box{
        background-color: rgba(228, 214, 214, 0.12);
        border-radius: 5px;
    }
    .danger-zone{
        background-color: rgba(228, 214, 214, 0.1);
        border-radius: 5px;
        height: 150px;
        padding: .4em;
    }
</style>