<template>
    <div class="my-app">
        <div class="container-fluid">
            <div class="columns">
                <div class="column is-3">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <template v-if="userStore.authUser.displayName">
                                        <avatar :username="userStore.authUser.displayName"></avatar>
                                    </template>
                                </div>
                                <div class="media-content" style="align-self: center;">
                                    <p class="subtitle is-6" style="color: #525b5e;">{{userStore.authUser.displayName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <i class="fa fa-bars"></i> &nbsp; Menu
                            </p>
                        </header>
                        <div class="panel">

                            <a :class="[{'panel-block':true}, {'is-active': tab=='listar'}]" @click="changeTab('listar')">
                                <span class="panel-icon">
                                  <i class="fa fa-map-marker"></i>
                                </span>
                                Ver lugares ingresados
                            </a>
                            <a :class="[{'panel-block':true}, {'is-active': tab=='agregar'}]" @click="changeTab('agregar')">
                                <span class="panel-icon">
                                  <i class="fa fa-plus-square-o"></i>
                                </span>
                                Agregar nuevo lugar
                            </a>

                        </div>
                    </div>

                </div>
                <div class="column is-9">
                    <div class="card listar-tab" v-if="tab=='listar'">
                        <div class="container">
                            <div class="column">
                                <template v-if="listaGeo.length > 0">
                                    <!-- listado de las georeferencias -->
                                    <collapse is-fullwidth>
                                        <collapse-item :title="item.lista" :subtitle="path + '/lista/' +item.slug" v-for="item of listaGeo">
                                            <div @click.prevent="selectGeoMap(geo)" class="columns geo-item" v-for="(geo, idx) in item.georeferencias">
                                                <div class="column">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="no-class-on" style="height: 40px; width: 40px;">
                                                                <span class="icon is-large">
                                                                    <i class="fa fa-map-marker"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="media-content">
                                                            <p class="title is-4 with-hand" style="color: hsl(0, 0%, 21%);">{{geo.etiqueta}}</p>
                                                            <p class="subtitle is-6 with-hand" style="color: rgb(80, 101, 98);">Coordenadas: {{geo.coordenadas}}</p>
                                                        </div>
                                                        <div class="media-rigth" style="align-self: center;">
                                                            <div class="no-class-on" style="height: 30px; width: 30px;">
                                                                <div class="no-class-on" style="height: 30px; width: 30px;">
                                                                    <span @click.prevent="deleteGeolocalizacion(item['.key'], idx)" class="icon is-medium with-hand" title="Eliminar esta georeferencia">
                                                                        <i class="fa fa-close" style="color:#ff3322;"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="column is-1">
                                                    <div class="media-left">
                                                        <div class="no-class-on" style="height: 30px; width: 30px;">
                                                            <span class="icon is-medium with-hand" title="Eliminar esta georeferencia">
                                                                <i class="fa fa-remove" style="color:#ff3322;"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                -->
                                            </div>
                                        </collapse-item>
                                    </collapse>
                                </template>
                                <template v-else>
                                    <div class="notification is-info">
                                        <button class="delete"></button>
                                        No hay registros de listas cargadas.
                                    </div>
                                </template>
                            </div>


                        </div>
                    </div>

                    <div class="card agregar-tab" v-if="tab=='agregar'">
                        <div class="container">

                            <div class="column">
                                <form @submit.prevent="saveGeolocalizacion">

                                    <label class="label">Lista</label>
                                    <p class="control has-addons">
                                        <span class="select">
                                            <select style="width: .5em;" @change="selectListaExistente" v-model="inputSelect">
                                                <option value=""></option>
                                                <option :value="item.lista" v-for="item in listaGeo">{{item.lista}}</option>
                                            </select>
                                        </span>
                                        <input class="input is-expanded" v-model="geoModel.lista" type="text" placeholder="Escoja o ingrese una nueva" required>
                                    </p>

                                    <label class="label">Etiqueta del lugar</label>
                                    <p class="control">
                                        <input class="input" v-model="geoModel.etiqueta" type="text" placeholder="" required>
                                    </p>

                                    <label class="label">Descripción</label>
                                    <p class="control">
                                        <textarea maxlength="1000" class="textarea" v-model="geoModel.descripcion" placeholder="" required></textarea>
                                    </p>

                                    <label class="label">Coordenadas</label>
                                    <p class="control">
                                        <input class="input" type="text" title="Debe ingresar 2 valores numéricos separados por coma ',' y sin espacios. Ejemplo:-2.1709979,-79.92235920000002" pattern="^[-+]?[0-9]{1,7}(\.[0-9]+)?[,][-+]?[0-9]{1,7}(\.[0-9]+)?$" v-model="geoModel.coordenadas" placeholder="" required>
                                    </p>

                                    <div class="control is-grouped">
                                        <p class="control">
                                            <button type="submit" class="button is-primary">Grabar</button>
                                        </p>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- aqui van los mapas temporales -->
            <div class="columns">
                <div class="column">

                    <div class="box" style="border-radius:0px;">
                        <template v-if="geoStore.georeferencia">
                            <h2>{{ selectedMessage }}</h2>
                            <google-map :model-data.sync="geoStore.georeferencia" :zoom.number="12"></google-map>
                        </template>
                        <template v-else>
                            <p class="has-text-centered">No hay una georeferencia seleccionada</p>
                        </template>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

    import Avatar from 'vue-avatar/dist/Avatar.vue';
    import { mapState } from 'vuex';
    import { db } from '../firebaseDB';
    import Collapse from '../reusable-components/Collapse.vue';
    import CollapseItem from '../reusable-components/CollapseItem.vue';
    import { slugify } from '../util/helpers';
    import GoogleMap from '../reusable-components/GoogleMap.vue';


    let ListaGeolicalizaciones = db.ref('listageo');

    const path = window.location.origin;

    export default {
        name: 'main-interface',
        components: {
            Avatar,
            Collapse,
            CollapseItem,
            GoogleMap
        },
        firebase: { listaGeo: ListaGeolicalizaciones },
        created (){
            //toastr.info(`Bienvenido, ${this.userStore.authUser.displayName}`, { positionClass: "toast-bottom-right"});
        },
        computed: {
            ...mapState({
                userStore: state => state.userStore,
                geoStore: state => state.geoStore,
                selectedMessage: (state) =>{
                    return state.geoStore.georeferencia ? `Actualmente: ${state.geoStore.georeferencia.etiqueta}` : null;
                }
            }),
        },
        data (){
            return {
                path: path,
                currentGeo: null,
                geoModel: {
                    lista:'',
                    etiqueta:'',
                    descripcion:'',
                    coordenadas:''
                },
                inputSelect: '',
                tab: 'listar'//listar, agregar
            }
        },
        methods: {
            selectListaExistente (e){
                if(e.target.value != ''){
                    this.geoModel.lista = e.target.value;
                    this.inputSelect = '';
                }
            },
            selectGeoMap (currentGeoModel){

                this.$store.dispatch('clearGeoreferencia');

                const coordenadas = {lat: parseFloat(currentGeoModel.coordenadas.split(',')[0]), lng: parseFloat(currentGeoModel.coordenadas.split(',')[1])};
                const descripcion = currentGeoModel.descripcion;
                const etiqueta = currentGeoModel.etiqueta;

                setTimeout(() => {
                    this.$store.dispatch('setGeoreferencia', {etiqueta, coordenadas, descripcion});
                }, 10);

            },
            clearGeoModel (){
                this.geoModel = { lista:'', etiqueta: '', descripcion: '', coordenadas: ''};
            },
            changeTab (name){
                this.tab = name;
            },
            saveGeolocalizacion (){
                const {lista, etiqueta, descripcion, coordenadas} = this.geoModel;
                const slug = slugify(lista);
                const georef = {etiqueta, descripcion, coordenadas};

                this.selectGeoMap(georef);//guarda el actual para mostrar

                const listaFiltrada = _.filter(this.listaGeo, {lista: lista});//se busca por lista y a la propiedad bindeada
                
                if(listaFiltrada.length > 0){

                    ListaGeolicalizaciones.child(listaFiltrada[0]['.key']).child('georeferencias').push(georef);

                }else{

                    ListaGeolicalizaciones.push({slug, lista}).child('georeferencias').push(georef);

                }

                this.clearGeoModel();
                toastr.success('Se grabó la georeferencia correctamente!');
            },
            deleteGeolocalizacion (keyLista, keyGeo){
                const listaGeo = _.filter(this.listaGeo, {'.key': keyLista});
                if(listaGeo.length > 0){
                    const currentListageo = listaGeo[0];

                    if(_.filter(currentListageo.georeferencias, {}).length > 1){
                        //elimina la georeferencia
                        ListaGeolicalizaciones.child(keyLista).child('georeferencias').child(keyGeo).remove();
                    }else{
                        //elimina toda la lista xq ya solo queda una georeferncia
                        ListaGeolicalizaciones.child(keyLista).remove();
                    }

                    toastr.success('Se eliminó la georeferencia correctamente!');

                }else{
                    toastr.alert('Ups! al parecer este registro ya no existe');
                }
            }
        }
    }

</script>

<style scoped lang="sass" rel="stylesheet/scss">
    .my-app{
        width: 100%;
        min-height: 670px;
        background: #eee;
        color: dimgray;
    }
    .panel-block.is-active {
        background-color: rgba(0, 209, 178, 0.12);
        color: #38caa5;
    }

    .geo-item:hover{
        background-color: rgba(128, 128, 128, 0.23);
    }

    .geo-item .with-hand{
        cursor: pointer;
    }

    .card-header-title{
        font-size: large !important;
    }

</style>
