<template>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-5">
                    <form @submit.prevent="gotoRegisterWithEmail">
                        <div id="mc_embed_signup_scroll">
                            <div class="control is-grouped">
                                <div class="control has-icon is-expanded">
                                    <input type="email" v-model="email" name="email" class="input is-flat required email" placeholder="E-mail"  aria-required="true" required>
                      <span class="icon is-small">
                        <i class="fa fa-envelope"></i>
                      </span>
                                </div>
                                <div class="control">
                                    <input type="submit" value="Registrarse" name="enviar" id="mc-embedded-subscribe" class="button is-white is-outlined">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import { mapState } from 'vuex';

    export default {
        name: 'home-view',
        computed: {
            ...mapState({
                userStore: state => state.uerStore
            })
        },
        data (){
            return {
                email: ''
            }
        },
        created (){
            const user = localStorage.getItem('user');
            if(user){
                //this.authUser = JSON.parse(user);
                this.$store.dispatch('setAuthUser', JSON.parse(user));
                this.$router.push({name: 'userhome'});
            }
        },
        methods: {
            gotoRegisterWithEmail(){
                this.$router.push({name: 'register-page-with-email', params: {email: this.email}});
            }
        }
    }

</script>