<template>
    <div class="my-app">
        <div class="container-fluid">
            <div class="columns">
                <div class="column">

                    <!--
                    <template v-if="totalgeo > 0">
                        <template v-if="initFirebaseListener() > 1">
                            <span>loaded</span>
                        </template>
                        <template v-else>
                            <h1 class="title has-text-centered" style="background-color: black;margin-bottom:1px;">{{titulolista}}</h1>
                        </template>
                    </template>
                    -->
                    <h1 v-if="map" class="title has-text-centered" style="background-color: black;margin-bottom:1px;">{{titulolista}}</h1>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

    import { db } from '../firebaseDB';
    import { slugify } from '../util/helpers';

    let ListaGeolicalizaciones = db.ref('listageo');

    export default {
        name: 'lista-publica-geo',
        //firebase: { listaGeo: ListaGeolicalizaciones },
        firebase: () =>{
            return {
                listaGeo: db.ref('listageo')
            }
        },
        created (){
            //this.slug = this.$route.params.slug;
            let vm = this;
            setTimeout(function(){
                //inicializacion asincrona
                vm.initFirebaseListener();
            },3000);

        },
        computed: {
            totalgeo(){
                return _.filter(this.listaGeo, {slug: this.slug}).length
            },
            titulolista(){
                return this.title == '' ? 'Cangando...' : this.title;
            }
        },
        mounted (){
            //this.initFirebaseListener();
        },
        data (){
            return {
                totalGeoList: 0,
                slug:'',
                title: '',
                map: null,
                markers: 0
            }
        },
        methods: {
            initFirebaseListener (){
                this.slug = this.$route.params.slug;
                let geos = _.filter(this.listaGeo, {slug: this.slug});
                if(geos.length > 0){
                    const georef = geos[0];
                    //console.log(georef, 'la data actual');
                    this.title = georef.lista;
                    this.initMap(georef['.key'], georef.georeferencias);

                    //return 1;
                }else{
                    this.$router.push({name:'page-not-found'});
                }
                //return 0;

                /*
                starCountRef.on('value', function(snapshot) {
                    updateStarCount(postElement, snapshot.val());
                });
                 commentsRef.on('child_added', function(data) {
                 addCommentElement(postElement, data.key, data.val().text, data.val().author);
                 });
                */
            },
            initMap (keyLista, geos){
                //convert to array
                const vm = this;
                const ArrayGeo = _.filter(geos, {});
                const lista = [];
                for(let i in ArrayGeo){
                    lista.push({
                        coords: {lat: parseFloat(ArrayGeo[i].coordenadas.split(',')[0]), lng: parseFloat(ArrayGeo[i].coordenadas.split(',')[1])},
                        etiqueta: ArrayGeo[i].etiqueta,
                        descripcion: ArrayGeo[i].descripcion
                    });
                }

                const node = document.getElementById('map');

                if(node.childNodes.length > 0){
                    node.removeChild(node.child_added[0]);
                }

                // Create a map object and specify the DOM element for display.
                let map = new google.maps.Map(node, {
                    center: lista[0].coords,
                    scrollwheel: false,
                    zoom: 7
                });

                vm.map = map;//bindeo a la instancia

                for(let idx in lista){

                    const marker = new google.maps.Marker({
                        map: map,
                        position: lista[idx].coords,
                        title: lista[idx].etiqueta
                    });

                    const infowindow = new google.maps.InfoWindow({
                        content: `<div style="color:black;">${lista[idx].descripcion}</div>`
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });

                }

                let totalGeos = _.filter(_.filter(vm.listaGeo, {slug: vm.slug})[0].georeferencias, {}).length;
                console.log(totalGeos, 'total geo');
                //eventos que agregan marcadores
                if(totalGeos > 0){
                    let cont = 1;
                    vm.markers = totalGeos;
                    ListaGeolicalizaciones.child(keyLista).child('georeferencias').on('child_added', function(data){
                        console.log(vm.markers, cont);
                        if(cont > vm.markers){
                            vm.markers++;
                            const d = data.val();
                            //console.log('se agrego un nuevo markador', data.val());

                            //add marker google maps
                            const marker = new google.maps.Marker({
                                map: vm.map,
                                position: {lat: parseFloat(d.coordenadas.split(',')[0]), lng: parseFloat(d.coordenadas.split(',')[1])},
                                title: d.etiqueta
                            });

                            const infowindow = new google.maps.InfoWindow({
                                content: `<div style="color:#417aff; font-size: 2em;font-weight: bold;">Nuevo Lugar Añadido</div>`
                            });

                            const infowindowOri = new google.maps.InfoWindow({
                                content: `<div style="color:black;">${d.descripcion}</div>`
                            });

                            infowindow.open(vm.map, marker);

                            setTimeout(function(){
                                infowindow.close();
                            }, 5000);

                            marker.addListener('click', function() {
                                infowindowOri.open(map, marker);
                            });

                            vm.map.setCenter(marker.getPosition());

                        }
                        cont++;
                    });
                }


                //infoWindow.open(map, marker);
                /*setTimeout(function(){
                    infoWindow.close();
                }, 5000);*/

            },
            saveGeolocalizacion (){
                const {lista, etiqueta, descripcion, coordenadas} = this.geoModel;
                const slug = slugify(lista);
                const georef = {etiqueta, descripcion, coordenadas};

                this.selectGeoMap(georef);//guarda el actual para mostrar

                const listaFiltrada = _.filter(this.listaGeo, {lista: lista});//se busca por lista y a la propiedad bindeada

                if(listaFiltrada.length > 0){

                    ListaGeolicalizaciones.child(listaFiltrada[0]['.key']).child('georeferencias').push(georef);

                }else{

                    ListaGeolicalizaciones.push({slug, lista}).child('georeferencias').push(georef);

                }

                this.clearGeoModel();
                toastr.success('Se grabó la georeferencia correctamente!');
            },
            deleteGeolocalizacion (keyLista, keyGeo){
                console.log(`Se procede a eliminar los keys respectivos ${keyLista} & ${keyGeo}`);
                const listaGeo = _.filter(this.listaGeo, {'.key': keyLista});
                if(listaGeo.length > 0){
                    const currentListageo = listaGeo[0];

                    if(_.filter(currentListageo.georeferencias, {}).length > 1){
                        //elimina la georeferencia
                        ListaGeolicalizaciones.child(keyLista).child('georeferencias').child(keyGeo).remove();
                        console.log('elimina un item');
                    }else{
                        //elimina toda la lista xq ya solo queda una georeferncia
                        ListaGeolicalizaciones.child(keyLista).remove();
                        console.log('elimina la lista');
                    }

                    toastr.success('Se eliminó la georeferencia correctamente!');

                }else{
                    toastr.alert('Ups! al parecer este registro ya no existe');
                }
            }
        }
    }

</script>

<style scoped lang="sass" rel="stylesheet/scss">
    .my-app{
        width: 100%;
        min-height: 620px;
    }

    /* para mapas */
    #map {
        height: 620px;
        position: relative;
        width: 100%;
    }

    .maps-frame {
        height: 620px;
        width: 100%;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton a {
        color: #757575;
        display: inline-block;
        height: 100%;
        padding: 0 24px;
        width: 100%;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton {
        padding: 0;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton.selected a {
        color: #03a9f4;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton a:focus {
        text-decoration: none;
    }

    p.top-desc {
        padding: 1em 1em .1em 1em;
    }

    p.bottom-desc {
        padding: 0em 1em 1em 1em;
    }


</style>
