<template>
    <div class="hero-body">
        <div class="container">
        <!--
        <div class="colmuns">
            <div class="column is-4">
                <nav class="panel is-info">
                    <p class="panel-heading">
                        Login
                    </p>

                    <div class="panel-block">
                        <button class="button is-primary is-outlined is-fullwidth">
                            Reset all filters
                        </button>
                    </div>
                </nav>
            </div>
        </div>
        -->
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-4">
                <h1 class="title has-text-centered">
                    MAP<strong>X</strong> LOGIN
                </h1>
                <div class="box" style="background-color: rgba(231, 240, 236, 0.2);">
                    <form @submit.prevent="login">
                        <p class="control">
                            <input :class="[{ input:true }, { 'is-danger': userStore.hasError }]" type="email" placeholder="E-mail" v-model="email" required>
                        </p>
                        <p class="control">
                            <input :class="[{ input:true }, { 'is-danger': userStore.hasError }]" type="password" placeholder="Clave" v-model="pass" required>
                            <span v-if="userStore.hasError" class="help is-danger">El correo o contraseña es incorrecto</span>
                        </p>
                        <p class="control" style="display: flex; flex-direction: row-reverse">
                            <button type="submit" :class="[{button:true}, {'is-primary':true}, {'is-outlined':true}, {'is-loading': userStore.isLoading}]">Ingresar</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script type="text/babel">

    import { admin } from '../firebaseDB';
    import { mapState } from 'vuex';

    export default {
        name: 'login',
        computed: {
            ...mapState({
                userStore: state => state.userStore
            })
        },
        mounted (){
            let vm = this;
            vm.$store.dispatch('setHasNoError');
        },
        created (){
            if(this.userStore.authUser){
                this.$router.push({name:'userhome'});
            }
        },
        data (){
            return {
                email: '',
                pass: ''
            }
        },
        methods: {
            login (){
                let vm = this;
                vm.$store.dispatch('setLoadingRequestOn');
                admin.signInWithEmailAndPassword(this.email, this.pass).then(resp => {

                    const authUser = resp;
                    localStorage.setItem('user', JSON.stringify(authUser));
                    vm.$store.dispatch('setLoadingRequestOff');
                    vm.$store.dispatch('setAuthUser', authUser);
                    vm.$store.dispatch('setHasNoError');
                    console.log('%cLoged!', 'color:green');
                    vm.$router.push({ name: 'userhome' });

                }, err => {
                    vm.$store.dispatch('setLoadingRequestOff');
                    vm.$store.dispatch('setHasError');
                    vm.$store.dispatch('clearAuthUser');
                    console.log('%cSe presento un error en la autenticacion, credenciales incorrectas', 'color:red,  font-weith:25px;');
                    console.error(err);
                    localStorage.removeItem('user');
                });
            }
        }
    }
</script>
