<template>
    <div class="hero-body">
        <div class="container">
        <div class="columns">
            <div class="column is-4">
                <form @submit.prevent="register">
                    <p class="control">
                        <input class="input is-info" type="text" v-model="displayName" placeholder="Nombre" required>
                    </p>
                    <p class="control has-icon has-icon-right">
                        <input class="input is-info" type="email" v-model="email" placeholder="E-mail" required>
                    </p>
                    <p class="control has-icon has-icon-right">
                        <input class="input is-warning" type="password" v-model="pass" placeholder="Clave" required>
                        <span v-if="userStore.hasError" class="help is-danger">No se pudo crear el usuario (Error: {{errorMessage}} )</span>
                    </p>
                    <p class="has-text-right">
                        <button type="submit" :class="[{button:true}, {'is-primary':true}, {'is-outlined':true}, {'is-loading': userStore.isLoading}]">Registrarse</button>
                    </p>
                    <p class="has-text-right">
                        Sí ya esta registrado ingrese <strong><router-link :to="{name: 'login-page'}">aquí</router-link></strong>
                    </p>
                </form>

            </div>
            <div class="column is-7 is-offset-1">
                <p class="has-text-centered">
                    <span class="icon is-large" style="font-size: 100px;">
                      <i class="fa fa-map-o"></i>
                    </span>
                </p>
                <h1 class="title">MAPX</h1>
                <h2 class="subtitle">Registro de nuevo Usuario</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta dolorum enim est facere molestiae non perferendis quia unde, voluptatibus. Distinctio enim ex id libero quos ratione sunt voluptate voluptates?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta dolorum enim est facere molestiae non perferendis quia unde, voluptatibus. Distinctio enim ex id libero quos ratione sunt voluptate voluptates?
                </p>

            </div>
        </div>
    </div>
    </div>
</template>

<script type="text/babel">

    import { admin } from '../firebaseDB';
    import { mapState } from 'vuex';

    export default {
        name: 'register',
        computed: {
            ...mapState({
                userStore: state => state.userStore
            })
        },
        created (){
            if(this.userStore.authUser){
                this.$router.push({name:'userhome'});
            }
        },
        mounted (){
            let vm = this;
            vm.$store.dispatch('setHasNoError');
            if(vm.$route.params.email){
                vm.email = vm.$route.params.email;
            }
        },
        data (){
            return {
                displayName: '',
                email: '',
                pass: '',
                errorMessage: ''
            }
        },
        methods: {
            register (){
                let vm = this;
                vm.$store.dispatch('setLoadingRequestOn');

                admin.createUserWithEmailAndPassword(vm.email, vm.pass).then(user => {
                    // var user = firebase.auth().currentUser;
                    user.updateProfile({
                        displayName: vm.displayName
                    }).then(() => {
                        // Update successful.
                        const authUser = admin.currentUser;
                        localStorage.setItem('user', JSON.stringify(authUser));
                        vm.$store.dispatch('setLoadingRequestOff');
                        vm.$store.dispatch('setAuthUser', authUser);
                        vm.$store.dispatch('setHasNoError');
                        vm.$router.push({name: 'userhome'});

                    }, err => {
                        // An error happened.
                        vm.$store.dispatch('setLoadingRequestOff');
                        vm.$store.dispatch('setHasError');
                        vm.$store.dispatch('clearAuthUser');
                        localStorage.removeItem('user');
                        vm.errorMessage = err.message;
                    });
                }, error => {
                    // Handle Errors here.
                    console.log('se cayo', error);
                    vm.$store.dispatch('setLoadingRequestOff');
                    vm.$store.dispatch('setHasError');
                    vm.$store.dispatch('clearAuthUser');
                    localStorage.removeItem('user');
                    vm.errorMessage = error.message;
                    // [END_EXCLUDE]
                });
            }
        }
    }

</script>
