<template>
    <div class="notification">
        <button class="delete"></button>
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit lorem ipsum dolor sit amet,
        consectetur adipiscing elit
    </div>
</template>

<script type="text/babel">

    export default {
        name: 'my-bulma-notification',

    }

</script>
