<template>
    <div id="map"></div>
</template>
<script type="text/babel">
    export default {
        name: 'my-google-map',
        created (){

        },
        mounted (){
            this.initMap();
        },
        props: {
            modelData: {
                type: Object,
                required: true
            },
            zoom: {
                type: Number,
                required: false,
                default: 7
            },
            scrollwheel: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        methods: {
            initMap (){

                const modelData = this.modelData;
                const node = document.getElementById('map');

                if(node.childNodes.length > 0){
                    node.removeChild(node.child_added[0]);
                }

                // Create a map object and specify the DOM element for display.
                let map = new google.maps.Map(node, {
                    center: modelData.coordenadas,
                    scrollwheel: this.scrollwheel,
                    zoom: this.zoom
                });

                // Create a marker and set its position.
                const marker = new google.maps.Marker({
                    map: map,
                    position: modelData.coordenadas,
                    title: modelData.etiqueta
                });

                const infoWindow = new google.maps.InfoWindow({
                    content: modelData.descripcion
                });

                infoWindow.open(map, marker);

                marker.addListener('click', function() {
                    infoWindow.open(map, marker);
                });

                setTimeout(function(){
                    infoWindow.close();
                }, 5000);

            }
        }
    }
</script>

<style scoped rel="stylesheet" type="text/css">
    .gm-map {
        display: block;
        width: 100%;
        height: 100%;
    }

    #map {
        height: 650px;
        position: relative;
        width: 100%;
    }

    .maps-frame {
        height: 650px;
        width: 100%;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton a {
        color: #757575;
        display: inline-block;
        height: 100%;
        padding: 0 24px;
        width: 100%;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton {
        padding: 0;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton.selected a {
        color: #03a9f4;
    }

    .kd-tabbed-vert.header-links .kd-tabbutton a:focus {
        text-decoration: none;
    }

    p.top-desc {
        padding: 1em 1em .1em 1em;
    }

    p.bottom-desc {
        padding: 0em 1em 1em 1em;
    }


</style>